**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/test
**/frontend/node_modules
**/Docs
**/*.md
**/*.user
**/*.suo
**/appsettings.Development.json
**/appsettings.Production.json
**/launchSettings.json
**/devault.http
**/.gitignore
**/.gitattributes
**/docker-compose*.yml
**/Dockerfile
**/.dockerignore
